.nav {
    grid-area: n;
    background-color: coral;
    padding: 20px;
}
/*n - nav - навигация*/

.item {
    color: white;
    text-decoration: none;
}
/*отключаем подчеркивание*/


.active {
    color: gold;
    text-decoration: none;
}
