.nav {
    grid-area: n;
    background-color: coral;
    padding: 20px;
}
/*n - nav - navigation*/

.item {
    color: white;
    text-decoration: none; /*disable underlining*/
}



.active {
    color: gold;
    text-decoration: none;
}
