.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    padding: 10px;
    text-decoration: none;

}

.dialog {

}

.dialogsItems .active{
    color: indigo;
    text-decoration: none;
}

.messages{
    padding: 10px;

}

.message{
    padding: 0px;

}